<%- include('../partials/header') %>
<h1 class="mb-4">Movie Details</h1>
<div class="card p-4">
  <p><strong>ID:</strong> <%= movie.id %></p>
  <p><strong><Title></Title>:</strong> <%= movie.title %></p>
  <p><strong>Description:</strong> $<%= movie.description %></p>
</div>
<a href="/movies" class="btn btn-secondary mt-3">Back to List</a>
<%- include('../partials/footer') %>
