<%- include('../partials/header') %>
<h1 class="mb-4">Edit Episode</h1>
<form action="/episodes/<%= movie.id %>?_method=PUT" method="POST" class="card p-4" enctype="multipart/form-data">
    <div class="mb-3">
    <label for="episode" class="form-label">Episode</label>
    <input type="text" id="episode" name="episode" class="form-control" value="<%= episode.name %>" required />
    </div>
    <div class="mb-3">
    <label for="id" class="form-label">Movie_id</label>
    <input type="text" id="id" name="episode" class="form-control" value="<%= episode.movie_id %>" required />
    </div>
    <div class="mb-3">
    <label for="link" class="form-label">Link</label>
    <input type="text" class="form-control" name="link" id="link">
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
    <a href="/episodes" class="btn btn-secondary">Cancel</a>
</form>




<h1>Edit Episode: <%= episode.title %></h1>
<form action="/episodes/<%= episode.id %>?_method=PUT" method="POST" class="card p-4" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="episode" class="form-label">Episode</label>
        <input type="text" id="name" name="episode" class="form-control" value="<%= episode.name %>" required />
    </div>
    <div class="mb-3">
        <label for="id" class="form-label">Movie_id</label>
        <input type="text" id="id" name="episode" class="form-control" value="<%= episode.movie_id %>" required />
    </div>
    <div class="mb-3">
        <label for="link" class="form-label">Link</label>
        <input type="text" class="form-control" name="link" id="link" >
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
    <a href="/episodes" class="btn btn-secondary">Cancel</a>
</form>


<%- include('../partials/footer') %>





