<%- include('../partials/header') %>
<h1 class="mb-4">Episode Details</h1>
<div class="card p-4">
    <p><strong>ID:</strong> <%= episode.id %></p>
    <p><strong>Episode:</strong> <%= episode.episode %></p>
    <p><strong>Movie_id:</strong> $<%= episode.movie_id %></p>
    <p><strong>Link:</strong> <a href="<%= episode.link %>">Watch</a></p>
</div>
<a href="/episodes" class="btn btn-secondary mt-3">Back to List</a>


<%- include('../partials/header') %>

